<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP3</title>
</head>

<body>
<header>Trabajo Practico 3, Programacion Visual</header>
<h1>Alumno: Sosa Facundo Gabriel</h1>

	<nav> 
		<a href="#">PRINCIPAL</a>
		<a href="#">ADICIONAL</a>
		<a href="#">PIE DE PAGINA</a>
	</nav>
	
	 <main>
        <section id="seccion1">
            <h2>Sección 1</h2>
            <p>Metodos Accesores</p>
            <ol>
                <li>Public</li>
                <li>Private</li>
                <li>Protected</li>
                <li>Default-package</li>
            </ol>
        </section>

        <section id="seccion2">
            <h2>Sección 2</h2>
            <table>
                <tr>
                    <th>Objeto </th>
                    <th>Inicializacion</th>
                </tr>
                <tr>
                    <td>Persona </td>
                    <td> = new Persona();</td>
                </tr>
            </table>
        </section>

        <section id="seccion3">
            <h2>Sección 3</h2>
            <p>Los objetos en JAVA son referenciados y no "apuntados" con punteros</p>
        </section>
    </main>

    <aside>
        <h2>Contenido Adicional</h2>
        <a href="https://www.w3schools.com/html/default.asp" target="">Tutorial HTML</a>
        <img style="width:50px" src="https://play-lh.googleusercontent.com/YdLvdC_Ddh3LugS9AgV-d2a4st1nbtFEziBIPF6ce5szXnNE_GXc9SLazZsZQ4xNk9Q" alt="W3S logo">
    </aside>

    <footer>
        <p>Contacto: </p>
        <p>Redes Sociales:
            <a href="#">Facebook</a>,
            <a href="#">Twitter</a>,
            <a href="#">Instagram</a>
        </p>
    </footer>


</body>

</html>